.border_collection{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.collection-category{
    padding: 15px;
}

#menu-product li ul{
	display: none;
}
#menu-product li.active>ul{
    display: block;
    width: 100%;
}

#menu-product li>ul.active>li{
    display: block;
    width: 100%;
}
.navbar-ul{
    list-style: none;
}
.dropdown--menu{
    list-style: none;
    padding-left: 20px;
    border-left: 1px solid #eeeeee;
}
.nav-item-lv1,.nav-item-lv2{
    position: relative;
}
.nav-item-lv1>.fa{
    position: absolute;
    top: 5%;
    right: 5%;
}
.nav-item-lv2>.fa{
    position: absolute;
    top: 5%;
    right: 3%;
}
.dropdown--menu{
    /* padding: 10px; */
}
.nav-link-product{
    color: black;
    font-size: 13px;
}
.nav-link-product:hover{
    text-decoration: none;
    color: black;
}
.nav-item-lv1,.nav-item-lv2,.nav-item-lv3{
    padding: 5px;
}
.nav-item-lv1:hover,.nav-item-lv2:hover,.nav-item-lv3:hover{
    /* background: #eeeeee; */
}
.title_module h4{
    border-bottom: 1px solid #dddddd;
    font-weight: 700;
}

