@charset "UTF-8";

* {
  box-sizing: border-box;
}

ul.accordion-list {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0;
  list-style: none;
  background-color: #f9f9fA;
}

ul.accordion-list li {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #FFF;
  /*padding: 20px;*/
  margin: 0 auto;
  cursor: pointer;
}

ul.accordion-list li:hover h3{
    background: pink;
}

ul.accordion-list li.active h3:after {
  transform: rotate(45deg);
}

ul.accordion-list li h3 {
  font-weight: 700;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 15px;
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.01em;
  cursor: pointer;
}

ul.accordion-list li.active h3{
    background: pink;
}

ul.accordion-list li h3:after {
  content: "\F278";
  position: absolute;
  right: 15px;
  top: 15px;
  color: #Fcc110;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}

ul.accordion-list li div.answer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul.accordion-list li div.answer p {
  position: relative;
  display: block;
  font-weight: 300;
  padding: 15px ;
  cursor: pointer;
  line-height: 150%;
  margin: 0 0 15px 0;
  font-size: 14px;
}

