.list--cart-pc{
    max-width: 1280px;
}
.dp-hide{
    display: none;
}
.dp-show{
    display: block;
}
.w-20{
    width: 20%;
}
.w-90{
    width: 90%;
}
.bg-pink{
    background: #fff5f3;
}
.list--cart--item-img-wrapper img{
    border: 1px solid #fad9d9;
    border-radius: 4px;
}
.shipping-fee,.shipping-fee-info{
    font-size: 0.8em;
}
.price-subtotal,.shipping-fee,.shipping-fee-info{
    letter-spacing: -1.8px;
}
.list--cart--subtotal p{
    font-size: 1.1em;
    font-weight: bold;
}
.name-extra{
    font-size: 0.8em;;
}
.field__input{
    border-radius: unset;
    border: 1px solid gray;
}
.field___option{
    height: 30px;
}
select option{
    height: 30px;
}
.field__input:focus,.field__input:focus-within,.field__input:visited {
    border-radius: unset;
}
.list--cart-info-user-submit input{
    border-radius: unset;
    color: white;
    background: #382628;
    border: unset;
}
.list--cart-info-user-submit input:hover{
    background: #ff8771;
    border: unset;
}
.list--cart-info-user-breacrumd{
    font-size: .8em;
}
