/* Header Category */

.category--header-img-wrapper{
    background: slategrey;
    /*height: 300px;*/
    /*line-height: 300px;*/
    font-weight: bold;
    font-size: 1.5em;
}
.category--header-button{
    border-radius: unset;
    background: wheat;
}
.category--header-wrapper:hover .info-category {
    display: block;
}
.category--header-img{
    position: relative;
}

.info-category{
    /* display: none; */
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: pointer;
}
.info-category-wrap,.info-category-body{
    height: 100%;
}
.info-category-btn{
    display: none;
}
.info-category-content{
    /* display: none; */
    width: 150px;
    background: rgb(105 , 105 , 105, 0.4);
    height: 100%;
}
.info-category-header-title p,.info-category-content-text p{
    font-size: 15px;
}
.info-category-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}
.info-category-content-img{
    padding: 7px;
}
/* END Header Category */

/* Icon Header */

.icon--header{
    max-width: 50%;
    margin: 0 auto;
}
.fa-d-and-d,.fa-barcode,.fa-critical-role,.fa-galactic-senate,.fa-wolf-pack-battalion{
    color: red;
    font-size: 1.5em;
}
.btn-icon{
    font-size: 1.5em;
}
.btn-icon:hover{
    background: wheat;
    border-radius: unset;
}
/* END Icon Header */

/* Products Category */
.category-products{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.product-item-image{
    height: 350px;
    background:  #fcfbf7;
}
.cat--img-main{
    position: relative;
    object-fit: contain;
}
.cat--img-main img, .cat--img-hover img{
    object-fit: contain;
    height: 350px;
}
.cat--img-hover{
    position: absolute;
    display: none;
    top: 0;
    height: 100%;
}
.product-item-image:hover .cat--img-hover{
    display: block;
}
.cat--img-hover {
	-webkit-animation: cat--img-hover .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: cat--img-hover .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes cat--img-hover {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes cat--img-hover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.product-item-rating{
    /* margin-left: 10px; */
}
.benefit-item{
    margin-right: 30px;
}
.product-item-name{
    font-weight: bold;
    font-size: 1.2em;
}
.product-item-name,.product-item-benefits{
    margin-left: 10px;
    margin-bottom: 10px;

}
.benefit-item i{
    color: yellowgreen;
    font-size: 2.5em;
}
.product-item-price{
    font-weight: bold;
}
.product-item-buy-1,.add---to-cart{
    background: #382628;
    color: seashell;
    border-radius: unset;
    height: 100%;
    font-weight: bold;
    cursor: pointer;
}
.product-item-buy-1:hover,.add---to-cart:hover{
    background: #ff8771;
    color: seashell;
}
.product-item-buy-1 a{
    color: white;
}
.product-item-buy-1 a:hover{
    text-decoration: none;
    color: white;
}
/* END Products Category */
