.text-underline{
    text-decoration: underline;
}

.black{
    color: black;
}
.w-30{
    width: 30%;
}
.text--redirect:hover{
    text-decoration: none;
}
.text--redirect{
    border-radius: unset;
    border-style: dotted;
}
.a-decoration:hover{
    text-decoration: none;
}
.bg-pink-1{
    background: #fdf1e8;
}
.color-red{
    color: red;
}
.color-blue{
    color: blue;
}
.color-green{
    color: rgb(38, 188, 78);
}
.color-black,.color-black-hover:hover{
    color: black;
}
.bg-yellow{
    background: yellow;
}
.size-75{
    font-size: .75em;
}
.size-90{
    font-size: .9em;
}
.size-70{
    font-size: .7em;
}
.size-80{
    font-size: .8em;
}
.size-60{
    font-size: .6em;
}
.color-gray{
    color: rgb(120, 120, 120);
}

.display-block{
    display: block;
}
.display-hide{
    display: none;
}




.Name--user,.customer-body{
    max-width: 1280px;
    font-family: Comfortaa;
}

.form-tiki{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #fafafa;
}
.acc__menu{
    /* width: 20%; */
}
.acc_menu-user-info strog{
    display: block;
}
.img-user{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid gray;
}
.acc__menu-item{
    list-style-type: none;
    padding: .5rem;
    background: #fff2cc;
}
.acc__menu-item a{
    color: rgb(74, 74, 74);
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;;
    font-size: .8em;
    font-weight: bold;
}
.acc__menu-item:hover,.bg-acc__menu-item{
    background: rgb(255, 230, 153);
    color: black;
}
.acc__menu-item a:hover{
    text-decoration: none;
}

.cus__title{
    display: none;
    padding: 1rem;
    background: #ffe699;
}

.cus__title h4{
    font-family: 'Comfortaa', cursive;;
    font-weight: bold;
}

.cus__title:hover{
    /* background: #ffdcd2; */

}

.cus__content{
    background: white;
}
.cus__content-submit{
    background: goldenrod;
    font-weight: bold;
    border: unset;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cus__content-submit:hover{
    background: violet;
}

/**
*   Css Address
*/

.add_address-btn:hover{
    color: white;
}

.add_address-btn{
    background: #bf8f00;
    border-radius: unset;
    color: white;
}

.address-status-del p{
    background: #dee2e6;
}

.mb3{
    margin-bottom: 2rem;
}

.header__name{
    padding-top: 4rem;

}
.header__name h1{
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: #bf8f00;
    font-family: 'Comfortaa', cursive;;
}
.slogan-ran p{
    padding-top: .5rem;
    color:  #382628;
    letter-spacing: 2px;
    /* font-size: .5rem; */
}

.modal-content{
    border-radius: unset;
}

.address-default{
    margin-left: 10px;
    padding: 5px;
    background: #6eb948;
    color: white;
}

.title___address{
    opacity: .6;
}

.table-address{
    width: 400px;

}

.cus__info_act-edit{
    cursor: pointer;
    color: black;
}

.cus__info_act-del a:hover{
    color: red;
}

.cus__info_act-default{
    background: #eeeeee;
    padding: 8px;
    margin-top: 12px;
    color: #ffffff;
}

.cus__info_act-extra{
    background: #2796e4;
    color: #ffffff;
    padding: 8px;
    margin-top: 12px;
    cursor: pointer;
}

.cus__info_act-extra a{
    color: #ffffff;
    cursor: pointer;
}

.cus__info_act-extra a:hover{
    text-decoration: unset;
    cursor: pointer;
}

.modal-content{
    padding: 10px;
}

.modal-wrap{
    border: 1px solid #eeeeee;
}

.modal-header{
    border-bottom: unset;
}

.input__address{
    padding: 10px;
    box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input__address[type=text]:focus,.input__address[type=number]:focus,.input__address[type=textarea]:focus{
    border: 1px solid #555;
    border-radius: unset;
}

.modal-footer{
    border-top: unset;
}

.btn-modal-address{
    text-decoration: underline;
    color: #bf8f00;
}

.btn-modal-address:hover{
    color: #bf8f00;
    text-decoration: underline;
}

.btn-modal-save-address{
    background: #bf8f00;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 13px;
    border-radius: unset;
}

.btn-modal-save-address:hover{
    color: #ffffff;

}

/*---------------------------
        Customer Order
----------------------------*/
.cus__order--nav,.header__item{
    display: flex;
    justify-content: space-between;
}

.left__item{
    display: flex;
}

.cus__order--nav-item-1 a{
    padding: .5rem;
}

@media only screen and (max-width: 768px) {
    .cus__order--nav{
        display: unset;
    }
    .cus__order--nav-item{
        padding-top: 10px;
    }
    .cus__order--nav-item-1 a{
        padding: 0 .5rem;
    }
}

.cus__order--nav-item-1 a{
    border-bottom: 2px solid #bf8f00;
    color: #bf8f00;
    font-family: Comfortaa;
}

.cus__order_item-header{
    background: rgb(255, 242, 204);
}

.order__code{
    line-height: 33px;
}

.cus__order--nav-item a{
    color: black;
    opacity: .7;
    font-family: Comfortaa;
}

.cus__order--nav-item a:hover{
    opacity: unset;
}

.cus__order--search-input{
    background: #d9d9d9;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: Comfortaa;
}

.cus__order--search-input[type=text]:focus{
    border-radius: unset;
    border: 1px solid #555;
}

.cus__order-lists{
    background: white;
    font-family: Comfortaa;
}

.cancel-order{
    color: red;
    text-decoration: underline;
}

.cancel-order:hover{
    color: red;
    text-decoration: underline;
}

.order_item_status-info{
    color: #007bff;
}


/*-------------------------------------
                WISH LIST
-------------------------------------*/

.wishlist-add-to-bag{
    background: #009900;
    padding: 10px;

}

.wishlist-add-to-bag a{
    color: white;
    font-weight: 700;
}
.wishlist-add-to-bag a:hover{
    text-decoration: unset;
    color: white;
    font-weight: 700;
}

.wishlist-del{
    padding: 10px;
}
.wishlist-del a{
    color: red;
    font-weight: 700;
}
.wishlist-del a:hover{
    color: red;
    text-decoration: none;
}

/*============================================

                    INFO USER

 ===========================================*/
.form-control{
    border-radius: unset;
}

.user-form-info-wrap{
    display: flex;
    justify-content: space-between;
}
.user-form-info{
    width: 70%;
}

.user-avatar-info{
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .user-form-info-wrap{
        display: unset;
    }
    .user-avatar-info{
        width: 100%;
    }
}




.file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.file-upload-btn {
    /* width: 100%; */
    margin: 0;
    color: #fff;
    background: #fff2cc;
    border: 1px solid orange;
    padding: 10px;
    border-radius: unset;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    position: relative;
}

.image-upload-wrap img{
    border-radius: 50%;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    /*width: 200px;*/
    margin: 0;
    color: #fff;
    background: #cd4535;
    padding: 5px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    font-size: .5em;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}
