.black{
    color: black;
}
.w-30{
    width: 30%;
}
.text--redirect:hover{
    text-decoration: none;
}
.text--redirect{
    border-radius: unset;
    border-style: dotted;
}
.a-decoration:hover{
    text-decoration: none;
}
.bg-pink-1{
    background: #fdf1e8;
}
.color-red{
    color: red;
}
.color-blue{
    color: blue;
}
.color-green{
    color: rgb(38, 188, 78);
}
.color-black,.color-black-hover:hover{
    color: black;
}
.bg-yellow{
    background: yellow;
}
.size-75{
    font-size: .75em;
}
.size-90{
    font-size: .9em;
}
.size-70{
    font-size: .7em;
}
.size-80{
    font-size: .8em;
}
.size-60{
    font-size: .6em;
}
.color-gray{
    color: rgb(120, 120, 120);
}

.display-block{
    display: block;
}
.display-hide{
    display: none;
}




.Name--user,.customer-body{
    max-width: 1280px;

}

.form-tiki{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #fafafa;
}
.acc__menu{
    /* width: 20%; */
}
.acc_menu-user-info strog{
    display: block;
}
.img-user{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid gray;
}
.acc__menu-item{
    list-style-type: none;
    padding: .5rem;
    background: #fff2cc;
}
.acc__menu-item a{
    color: rgb(74, 74, 74);
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;;
    font-size: .8em;
    font-weight: bold;
}
.acc__menu-item:hover,.bg-acc__menu-item{
    background: rgb(255, 230, 153);
    color: black;
}
.acc__menu-item a:hover{
    text-decoration: none;
}

.cus__title{
    padding: 1rem;
    background: #ffe699;
}

.cus__title h4{
    font-family: 'Comfortaa', cursive;;
    font-weight: bold;
}

.cus__title:hover{
    /* background: #ffdcd2; */

}

.cus__content{
    background: white;
}
.cus__content-submit{
    background: yellow;
    letter-spacing: 5px;
    font-weight: bold;
    border: unset;
}
.cus__content-submit:hover{
    background: violet;
}

/**
*   Css Address
*/
.new-address{

}
.address-status-del p{
    background: #dee2e6;
}

.mb3{
    margin-bottom: 2rem;
}

.header__name{
    padding-top: 4rem;
    
}
.header__name h1{
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: #bf8f00;
    font-family: 'Comfortaa', cursive;;
}
.slogan-ran p{
    padding-top: .5rem;
    color:  #382628;
    letter-spacing: 2px;
    /* font-size: .5rem; */
}

/*---------------------------
        Customer Order
----------------------------*/
.cus__order--nav-item-1 a{
    border-bottom: 2px solid #bf8f00;
    color: #bf8f00;
    font-family: Comfortaa;
}

.cus__order_item-header{
    background: rgb(255, 242, 204);
}

.order__code{
    line-height: 33px;
}

.cus__order--nav-item a{
    color: black;
    opacity: .7;
    font-family: Comfortaa;
}

.cus__order--nav-item a:hover{
    opacity: unset;
}

.cus__order--search-input{
    background: #d9d9d9;
    border: 1px solid #eeeeee;
    border-radius: unset;
    font-family: Comfortaa;
}

.cus__order--search-input[type=text]:focus{
    border-radius: unset;
    border: 1px solid red;
}

.cus__order-lists{
    background: white;
    font-family: Comfortaa;
}

.cancel-order{
    color: red;
    text-decoration: underline;
}

.cancel-order:hover{
    color: red;
    text-decoration: underline;
}

.order_item_status-info{
    color: #007bff;
}