/*-----------------------------------
			Detail Content
------------------------------------*/
.font-comfortaa{
    font-family: Comfortaa !important;
}

.font-cambria{
    font-family: Cambria !important;
}

.navigation-link{
    font-family: Comfortaa;
}

.ProductItem-nav-breadcrumb-link,.ProductItem-nav-breadcrumb-span{
    font-family: Comfortaa;
    font-size: .5em;
}

.info__name--detail-h4{
    font-family: Comfortaa;
    font-size: 36px;
    font-weight: 700;
}

.info__price--detail p{
    color: #bf8f00;
    font-size: 24px;
    font-weight: 700;
}

.video__product iframe{
    height: 300px;
}

.info__content--detail{
	font-size: 14px;
	color: rgba(34,34,34,.7);
}

.info__quantity--label{
    font-size: 11px;
    letter-spacing: 1px;
}

.info__quantity--input input{
    background: #f7f7f7;
    border: unset;
    padding: .75em 1.25em;
    font-size: 14px;
    width: 30%;
    margin-bottom: 50px;
}

.info__quantity--input input::-webkit-outer-spin-button,
.info__quantity--input input::-webkit-inner-spin-button{
    -webkit-appearance: unset !important;
}


.info__add-to-cart a{
    color: black;
    border: 2px solid black;
    padding:21px 34px;
}
.info__add-to-cart a:hover{
    background: black;
    color: white;
}

.info__share--icon a{
    color: unset;
    opacity: .7;
}

.link-icon-ins:hover{
    color: red;
}

.link-icon-fb:hover{
    color: blue;
}

.info__wishlist a img{

}

.radio-size-detai input[type="radio"] {
    display: none;
}

.radio-size-detai label {
    display: inline-block;
    padding: 4px 11px;
    font-family: Comfortaa;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

.radio-size-detai input[type="radio"]:checked+label {
    color: orange;
}
.radio-size-title,.radio-color-title{
    font-family: Comfortaa;
    cursor: unset;
    opacity: .6;
}

.form-detail[type=text],.textarea-detail{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.form-detail[type=text]:focus,.textarea-detail:focus{
    border: 1px solid #555;
}

.input-file-detail{
    padding: 8px;
    border-radius: unset;
    border: 2px solid ;
    background: #ffffff;
    color: orange;
}

.input-file-detail:focus{
    border-radius: unset;
    border: 2px solid orange;
}
