@font-face{
  font-family: Cambria;
  src: url('./fonts/custom/Cambria.ttf');
}

.body-wrapper{
  position: relative;
  /* max-width: 1280px; */
  margin: 0 auto;
  font-family: Comfortaa;
}
.information-product,.breadcrumb,.category-products,.button-write-review,.review--customer,.list--cart,.category--header{
  max-width: 1560px;
}
.slogan-menu{
  background: indianred;
  font-weight: bold;
}
.line{
  height: 1px;
  background: gray;
}
/* Header Menu */
/* .dropdown-product-wrapper{
  width: 1180px;
}
.dropdown-product,.dropdown-category{
  border-radius: unset;
}
.dropdown-product-item{
  color: white;
  font-weight: bold;
  opacity: 0.3;
  font-family: Helvetica;
}
.dropdown-product-item:hover{
  opacity: unset;
  text-decoration: none;
  color: chocolate;
}
.slogan{
  background: yellow;
}
.slogan-text{
  color: black;
  font-style: italic;
}
.slogan-bold{
  color: black;
  font-weight: bold;
}
.dropdown-toggle,.nav-item-boder{
  font-weight: bold;
}
.nav---list-content,.nav---list-title,.nav--list-category-highlight,.dropdown-toggle,.nav-item-boder{
  color: black;
  font-weight: bold;
  font-family: Helvetica;
  margin-bottom: 3px;
  cursor: pointer;
}
.nav---list-title,.nav--list-category-highlight{
  font-weight: bold;
}
.nav--list-category-highlight{
  font-size: 1.3em;
}
.nav---list-content:hover,.nav---list-title:hover,.nav--list-category-highlight:hover{
  color: chocolate;
  text-decoration: none;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-category-wrapper{
  max-width: 1280px;
}
.dropdown-menu{
  margin-top: 0;
  padding-bottom: 0;
}
.nav-item{
    
} */
/* END Header Menu */

/* Header Moible */

/* END Header Moible */

/* Detail Mobile */
@media only screen and (max-width: 992px){
  .information-product-video{
    display: none;
  }
}
/* END Detail Mobile */


/* Your Cart */
#icon-close{
  /* font-size: 1.2em; */
}
.body.modal-open {
  overflow: hidden;
}
.your-cart{

  display: none;
  position: fixed;
  right: 0;
  height:  100vh;
  width: 400px;
  background: #fff;
  z-index: 1;
  bottom: 0;
  top: 0;
  border-radius: unset;
  border-left: 1px solid #dddddd;
}

.emoji-cart{
  color: #4c4;
}

.cart-line{
  height: 20px;
  background: #ffd966;
  margin: 0 0 0 15px;
}

.your-cart-content-product-item-img img{
  width: 100%;
}
.cart__cta-boder{
  margin: 0 0 0 15px;
  height: 1px;
  background: #382628;
}
.cart__scroll-wrapper, .cart__cta{
  max-height: 90vh;
}
.cart-item{
  padding: 0;
}
.quantity-your-cart{
  border: unset;
}
.your--cart--amount-product{
  border: 1px solid  #382628;
}

.cart__header{
  padding: 0 15px;
  height: 30px;
}
.cart__upsell{
  background: #fff2cc;
  margin: 0 0 0 15px;
}
.cart__items, .cart__cta{
  padding-left: 15px;
  padding-right: 15px;
  height: 50vh;
}
.cart__checkout{
  background: #bf9000;
  color: #fff;
  border-radius: unset;
}
.cart__checkout:hover{
  background: #ffdb75;
  color: #fff;
}

.my1{
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.text__cart{
  font-family: Comfortaa;
  /* font-weight: 700; */
  margin: 0;
  border-radius: unset;
}
.cart__continue{
  background: #eeeeee;
  border-radius: unset;
}
.cart__continue:hover{
  background: #d9d9d9;
}
.quantity--cart{
  border: 1px solid #382628;
}
.quantity--cart input{
  height: 1.8em;
}

.cart__upsell div{
  padding: .5rem;
  /* margin: ; */
}
 .cart__upsell div p, .cart__upsell div div{
  padding: .5rem 0;
  line-height: .5rem;
}
.cart-item-img img{
  object-fit: cover;
}
.cart-item-img-background{
  background:  #ffdcd2;
  object-fit: scale-down;
}

/* furniture menu style */
.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}
/* .clickable-mainmenu-btn {
    left: 0px;
    position: fixed;
    top: 300px;
    z-index: 999;
}
.clickable-mainmenu-btn i {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #4b4a48;
    display: inline-block;
    font-size: 2em;
    line-height: 1;
    padding: 16px 32px;
} */


 
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    padding-right: 30%;
  }

  .menu-item{
      margin: 15px;
      font-size: 1.5em;
      color: white;
  }

  /* title category */

  .title-categoty{
    background: gray;
    height: 2px;
  }

  @media(min-width: 52em){

  }
  .shop__sort-select {
      padding: .5rem 0;
  }
  .shop__sort-select {
    border: 1px solid  #ffdcd2;
      outline-color: #ffdcd2;
      -moz-appearance: none;
      appearance: none;
      background-color: #fff;
      border: 1px solid  #ffdcd2;
      -webkit-appearance: none;
      border-radius: 2px;
      -moz-text-align-last: center;
      text-align-last: center;
      padding: .25rem 0;
  }
  .pitch {
    font-family: Pitch Semibold;
    font-weight: 400;
}
.pointer {
    cursor: pointer;
}
.breadcrumb{
  background: no-repeat;
}
.caps {
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* category-item */
.category-item-wrapper{
  height: 24em;
  background:  #fcfbf7;
}
.img-category-main a img, .img-category-hover a img{
  width: 100%;
  object-fit: cover;
}
.img-category-hover{
  position: absolute;
  display: none;
}

.image-link{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 25rem;
  background-color: #fcfbf7;
  margin-bottom: .75rem;
}
.img-header img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.main-icon-category{
  margin-top: 15px;
  margin-bottom: 15px;
}

.item-icon-main-body{
  color: red;
  font-size: 1.4em;
}

.icon-top:hover{
  border: 1px solid lightcoral;
}
.icon-top{
  border: 1px solid white;
}
.icon-top div:nth-child(2){
  font-weight: bold;
  margin-top: 10px;
}
/* Radio Color */
.colors ul{
  list-style:none; 
  padding:0; 
  margin: 0;
}
.color--title{
  line-height: 45px;
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 10px;
}

.colors li{margin: 0 0 10px 0;}

.colors label{cursor: pointer;}

.colors input{display:none;}

.colors input[type="radio"]:checked + .swatch{box-shadow: inset 0 0 0 2px white;}

.swatch{
  display:inline-block;
  vertical-align: middle;
  height: 30px;
  width:30px;
  border-radius: 15px;
  margin: 0 5px 0 0 ;
  border: 1px solid #d4d4d4;
}
/* END Radio Color */

.number-of-review{
  line-height: 35px;
}

.name-product{
  margin-top: 10px !important;
}
.name-product h5{
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'Courier New';
  letter-spacing: 3px;
}
.item-product-price h6{
  font-size: 1.6em;
  font-weight: bold;
}

.color--item{
  margin: 5px;
}
.product-item-size div div input[type=radio] {
  border: 0px;
  color: red;
  height: 1.2em;
  width: 1.2em;
}
.size--item{
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #382628;
  line-height: 40px;
}
.product-item-color div div label, .product-item-size div div label{
  font-size: 1.1em;
}
.item-product-image{
  width: 100%;
  height: 25rem;
    background-color: #fcfbf7;
    margin-bottom: .75rem;
  position: relative;
  object-fit: cover;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0.4s;
}
.owl-carousel-item img{
  width: 100%;
  height: 100%;
  position: relative;
}
.owl-prev, .owl-next{
  position: absolute;
  top: 50%;
  border: unset;
}
.owl-prev{
  left: 5%;
}
.owl-prev:focus{
  outline: unset;
}
.owl-next:focus{
  outline: unset;
}
.owl-next{
  right: 5%;
}
.owl-prev span, .owl-next span{
  font-size: 5em;
}
.information-product-img-extra-item{
  width: 100%;
} 
.information-product-img-extra-item img{
  width: 100%;
}
.quantity__input{
  border: unset;
}
.buy-now{
  border-radius: unset;
  background: #382628;
  color: white;
  width: 350px;
  letter-spacing: 5px;
  font-weight: bold;
}
.add-to-bag{
  border-radius: unset;
  background: #382628;
  color: white;
  width: 150px;
}
.add-to-bag:hover, .buy-now:hover{
  background: #ff8771;
}
.quantity__input-wrapper{
  border: 1px solid #444;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



.information-product-wrapper{
  padding-bottom: 30px;
  margin-bottom: 15px;
}
.information-product-wrapper div{
  margin-top:0;
}
.ratings {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  direction: rtl;
  text-align: left;
}

.star {
  position: relative;
  line-height: 30px;
  display: inline-block;
  transition: color 0.2s ease;
  color: #ebebeb;
}

.star:before {
  content: '\2605';
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.star:hover,
.star.selected,
.star:hover ~ .star,
.star.selected ~ .star{
  transition: color 0.8s ease;
  color: yellow;
}
.text---review{
  font-size: 0.7em;
}


/* Css vote Rating detail product */

/* Related Product Item */

/* Footer */
.footer{
  height: 200px;
  border: 1px solid greenyellow;
}

/* Style button radio Color */

/* END Style button radio Color */

/* Style button radio Size */
.radio-toolbar {
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 6px 24px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}
/* END Style button radio Size */

/* Style Collapse Card */

.collapse-info-item-header{
  border-top: 2px solid gray;
}
.boder-bottom{
  border-bottom: 2px solid gray;
}
.border-top{
  border-top: 2px solid gray;
}
.collapse---content-info-title h3{
  margin-top: 5px;
  margin-bottom: 5px;
}
.bg-header{
  background: #fff5f3;
}
.bg-header-hide{
  background: unset;
}
.rotate-90-cw {
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate-90-cw {
0% {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.rotate-90-ccw {
	-webkit-animation: rotate-90-ccw 0.6s;
	        animation: rotate-90-ccw 0.6s;
}
@-webkit-keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/* END Style Collapse Card */

/* Style Collapse Review */
.form--review, .collapse--info{
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 0;
  overflow: hidden;
}

.form--review-collapse{
  border-top: 1px solid #e3e3e3;
}
.form--question-collapse{
  border-top: 1px solid #e3e3e3;
}
.submit-review{
  background: #ffdcd2;
}
.more-button{
  background: #382628;
  color: #ebebeb;
  font-weight: bold;
  font-size: 1em;
}
.more-button:hover{
  color: #ebebeb;
}
/* END Style Collapse Review */

/* Review Customer */
.vote{
  font-size: 2.2em;
  font-weight: bold;
}
.score-review,.amount-review{
  padding-top: 5px;
}

.rejstars-reviewiew--customer{
  padding-bottom: 32px;
}
.content-title{
  font-weight: bold;
  font-weight: 1.1em;
}
.review--header{
  color: #382628;
  font-weight: bold;
  font-size: 1.2em;
}
.review--item-user1{
  border-bottom: 1px solid  #aaaaaa;
}
.review--title{
  border-bottom: 1px solid #aaaaaa;
}
.review--title-item{
  font-size: 1.1em;
  font-weight: bold;
  border-radius: unset;
}
.review--title-item1{
  border-bottom: 2px solid #382628;
}
.review-user-avatar{
  max-width: 8%;
}
.review--item-user div:nth-child(1) div img{
  width: 100%;
}
.content-review{
  max-width: 92%;
}
.review--user{
  margin-bottom: unset;
}
.yotpo-user-field-description{
  font-style: italic;
  font-weight: bold;
}
.yotpo-user-field-answer, .yotpo-user-field-description{
  font-size: .8em;
}
.fa-thumbs-down, .fa-thumbs-up, .fa-share-square{
  padding: 0 !important;
  color: #aaaaaa;
}
.review--share{
  /* border-right: 2px solid #aaaaaa; */
}
/* END Review Customer */