
/* furniture menu style */
.breadcrumb-item + .breadcrumb-item::before {
  content: "||";
}
.clickable-mainmenu-btn {
    left: 0px;
    position: fixed;
    top: 300px;
    z-index: 999;
}
.clickable-mainmenu-btn i {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #4b4a48;
    display: inline-block;
    font-size: 2em;
    line-height: 1;
    padding: 16px 32px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content{
    background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
    border-color: rgba(0,0,0,0.0);
  }
 
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    padding-right: 30%;
  }

  .menu-item{
      margin: 15px;
      font-size: 1.5em;
      color: white;
  }

  /* title category */

  .wrapper-title-categoty{
    background: lightpink;
    height: 2.3em;
  }

  .wrapper-title-categoty div h6{
    line-height: 2.3em;
  }
  @media(min-width: 52em){

  }
  .shop__sort-select {
      padding: .5rem 0;
  }
  .shop__sort-select {
    border: 1px solid  #ffdcd2;
      outline-color: #ffdcd2;
      -moz-appearance: none;
      appearance: none;
      background-color: #fff;
      border: 1px solid  #ffdcd2;
      -webkit-appearance: none;
      border-radius: 2px;
      -moz-text-align-last: center;
      text-align-last: center;
      padding: .25rem 0;
  }
  .pitch {
    font-family: Pitch Semibold;
    font-weight: 400;
}
.pointer {
    cursor: pointer;
}
.breadcrumb{
  background: no-repeat;
}
.caps {
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* category-item */
.category-item-wrapper{
  height: 24em;
  background:  #fcfbf7;
}
.img-category-main a img, .img-category-hover a img{
  width: 100%;
  object-fit: cover;
}
.img-category-hover{
  position: absolute;
  display: none;
}

.image-link{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 25rem;
  background-color: #fcfbf7;
  margin-bottom: .75rem;
}

 